.Container {
    padding: 5px;
    height:30px;
    padding-bottom: 25px;

    text-align: left;

    background: linear-gradient(180deg,#a7c7dc 0,#85b2d3);
}

.Container ul {
    margin-left:-15px;
    list-style: none;
}

.Container ul li {
    display: inline-block;    
}

li {
    padding-right: 15px;
    cursor: pointer;
}

li:hover {
    background-color: azure;
}

li a {
    text-decoration: none;
    color:black;
}

li a:visited, li a:link, .SubMenu li a:visited, .SubMenu li a:link {
    text-decoration: none;
}

.SubMenu {
    display:none;
}

.SubMenu ul li {
    display: block;
    list-style: none;
    margin-left:-15px;
}

.SubMenu ul li:hover {
    background-color: azure;
    color:black;
}

.Container ul li:hover .SubMenu {
    
    color:white;
    display:block;
    text-align: left;

    position: absolute;

    padding-top:15px;
    padding-bottom:15px;
    margin-left:15px;
    background-color: #85b2d3;
}

.Container ul li:hover .SubMenu ul {
    display:block;
    margin:10px;
}

.Container ul li:hover .SubMenu ul li {
    width:150px;
    text-align: left;
    padding:5px;
    text-decoration: none;
    color:black;
}

.MyActive {
    color:white;
}