
.Container {
    text-align: left;
    margin-left: 10%;
    width: 80%; /* Ширина слоя */
    /* background: #fc0; */
    padding: 10px;
}


.BigoImgContainer {
    text-align: center;
    margin-top: 50px;
}
