.App {
  text-align: justify;
  font-size: 0.8rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.url-name {
  color:blue;
}

.right-panel {
  border-left: 1px solid lightblue;
  padding-top:15px;
}

.right-panel ul li{
  list-style: none;
}

.row-fix {
  margin-left: 0;
  margin-right: 0;
}

